body{font-family: 'Roboto';
line-height: 1,71;}
a{color: black;
text-decoration: none;}
a:hover{color: #2196F3;}
.header-link{font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.87;}
.nav-list-item,.header-link-item{color: #2196F3;}
.nav-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.mail{ 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}        
.telephone{   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}
#main-button{font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #2196F3;}
.main-button{font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;}
h3{font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;}  
.card-name{font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;}      
footer>a{  
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    color: #2196F3;}
.footer-adress{
    font-weight: 400;
    font-size: 14px;
    line-height:  1.71; 
    color: #a5a0a0;}
footer>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}  
