body
{
    font-family: 'Roboto';
}

.Web
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.87;
}
a{
    color: #212121;
}
.header-pages{
    display: flex;
    margin-left: 93px;
}
.header-page{
    margin-left: 55px;
}
.nav-list-item,.header-logo
{
    color: #2196F3;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-adress{
    margin-left: 335px;
}

.nav-list
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contact
{ 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-link
{   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 50px;
}
.main-lists{
    display: flex;
    justify-content: center;
}
.main-list{
    margin-left: 8px;
}
.section-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 34px;
}
.section-card{
    margin-left: 30px;
    margin-top: 30px;
}
.main-button
{font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;
}

.main-button:hover
{
    color: #FFFFFF;
    background: #2196F3;
}

h3
{font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}  

.card-name
{font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;
} 
footer>a{  
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    color: #2196F3;
}
.footer-adress
{
    font-weight: 400;
    font-size: 14px;
    line-height:  1.71; 
    color: #a5a0a0;
}
footer>p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}  
span{color: #2196F3;}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
}
.page-footer{
    background: #2F303A;
}
.footer-web{
    color: white;
}
.footer-web,.footer-adress,.footer-link{
    display: block;
    padding-left: 215px;
}