.const__title{
    margin-top: 94px;
}
.const__list{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.const__item{
    margin-left: 30px;
    fill: $halfwhite-color;
    &:hover{
    fill: $accent;
    transition: 500ms;
    }
}

